<div id="top"><h3>My Bitefeed</h3></div>

  <div id="profile">
    <img class="profile_pic" src="<%=current_user.photo_url%>" alt="Profile Picture">
    <div class="bite_form">
      <h4>Trending Hashtags:</h4>
      <%@trending_hashtags.each do |tag|%>
        <a href="/hashtag/<%=tag.id%>"><%=tag.hashtag%></a>
      <%end%>
      <p>
     <form action='/user/<%=@user.id%>/bitefeed' method="post">
      <textarea name="bite_content" placeholder="<%=$placeholder_sayings.sample%>"></textarea>
      <br><br>
      <button class="btn" type="submit">Create New Bite</button></a>
      </form>
      <br>
     </div>
  </div>

  <div id="bites">
    <%@bite_feed.each do |loop_bite|%>
      <%= erb :'_bite_display', locals:{bite: loop_bite}%>
    <%end%>
  </div>

