<div id="public_profile_top"><h3><%= @user.name.capitalize %>'s Biter Profile:</h3>
    <div id="profile">
       <img class="profile_pic" src="<%=@user.photo_url%>" alt="Profile Picture">
    </div>
  <div class="profile_info">
    <% if @user == User.find(session[:user_id]) %>
      <form action="/user/<%=@user.id%>" method="post">
        <a href="/user/<%=@user.id%>/bitefeed"><input class="btn" value="Go to Bitefeed" type="submit"></a>
        <h4>Followers: <%=@user.followers.count-1%>     |     Following: <%=@user.followed_users.count-1%></h4>
      </form>
    <%else%>
        <%= erb :'_follow_info', layout: false %>
    <%end%>
  </div>
</div>
  <!-- <img src="<%=current_user.photo_url%>" alt="Profile Picture"> -->


<div id="bites">
  <%@bites.each do |loop_bite|%>
    <%= erb :'_bite_display', locals:{bite: loop_bite}%>
  <%end%>
</div>
<!-- Minus one to account for user following themselves -->