<div id="public_profile_top"><h3><%= @user.name.capitalize %>'s Biter Profile:</h3>
    <div id="profile">
       <img class="profile_pic" src="<%=@user.photo_url%>" alt="Profile Picture">
    </div>
  <div class="profile_info">
    <% if @user == User.find(session[:user_id]) %>
        <a href="/user/<%=@user.id%>/bitefeed"><input class="btn" value="Go to Bitefeed" type="submit"></a>
        <div id="follow_info">
          <%= erb :'/partials/_follow_info', locals:{user: @user}, layout: false %>
        </div>
    <%else%>
        <div id="follow_btn">
          <%= erb :'/partials/_follow_btn', layout: false %>
        </div>
        <div id="follow_info">
          <%= erb :'/partials/_follow_info', layout: false %>
        </div>
    <%end%>
  </div>
</div>
  <!-- <img src="<%=current_user.photo_url%>" alt="Profile Picture"> -->


<div id="bites">
  <%@bites.each do |loop_bite|%>
    <%= erb :'/partials/_bite_display', locals:{bite: loop_bite}%>
  <%end%>
</div>
<!-- Minus one to account for user following themselves -->